@CHARSET "UTF-8";

table {
	border-collapse: collapse;
}

a {
	text-decoration: none;
}

#gms-wrapper {
	width: 100%;
	height: 100%;
}

.gms-text-center {
	text-align: center;
}

.gms-width-30pro {
	width: 30%;
}

.gms-border-black {
	border: 1px solid black;
}

.gms-text-deco {
	text-decoration: none;
}

.gms-margin-0 {
	margin: 0 auto;
}

.gms-wid-hei {
	width: 100%; height: 100%;
}

.gms-index-button {
	border-collapse: collapse;
	float: right;
}

.gms-inline {
	display: inline-block;
}

.gms-gomain {
	float: right;
}

.index-ul:first-child {
	margin-right: 25px;
}
/* unvisited link */
a:link {
    color: black;
}

/* visited link */
a:visited {
    color: green;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

/* selected link */
a:active {
    color: blue;
}

#footer-main {
	position: absolute;
	width: 100%;
	height: 100px;
	padding: 5px;
	bottom:0;
}
#footer-main div {
	margin : 0 auto;
	height:100%;
	width: 72%;
	background-color: pink;
	text-align: center;
}