<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gms.web.mapper.BoardMapper">
	<resultMap id="respMap" type="com.gms.web.command.RespMap">
		
	</resultMap>
	<insert id="insert" parameterType="com.gms.web.command.Command">
	insert into board(
		article_seq,
		userId,
		title,
		content,
		hitcount,
		regdate
	)
	values (
		#{articleSeq}, 
		#{userId}, 
		#{title}, 
		#{content}, 
		#{hitCount}, 
		now()
	)
	</insert>

  <select id="selectSome"
   resultType="com.gms.web.command.RespMap" 
   parameterType="com.gms.web.command.Command">
    select * from Board where article_seq = #{articleSeq}
  </select>
</mapper>